<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Home page</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<!--    <script src="//cdn.ckeditor.com/4.13.1/full/ckeditor.js"></script>-->
    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
</head>
<body>

<div class="container">
    <textarea name="editor" id="editor">&lt;p&gt;Initial editor content.&lt;/p&gt;</textarea>
    <button type="button" class="btn btn-success btn-lg btn-block" id="btn_save">Lưu</button>
    <button type="button" class="btn btn-secondary btn-lg btn-block" id="btn_cancel">Hủy</button>
    <div th:remove="tag" th:utext="${'<h1>Hello World</h1>'}"></div>
</div>




<script>
    $(document).ready(function () {
        CKEDITOR.replace( 'editor', {
            filebrowserUploadUrl: '/api/upload/upload-image',
            height: 400
        } );

        CKEDITOR.on('dialogDefinition', function (e) {
            var dialogName = e.data.name;
            var dialogDefinition = e.data.definition;

            switch (dialogName) {
                case 'image':
                    // dialogDefinition.removeContents('info');
                    dialogDefinition.removeContents('Link');
                    dialogDefinition.removeContents('advanced');
                    break;
            }
        });
        
        $('#btn_save').click(function () {
            alert(CKEDITOR.instances.editor.getData());
        });

        $('#btn_cancel').click(function () {
           CKEDITOR.instances.editor.setData('Hello ...');
        });
    });
</script>
</body>
</html>